/* ---- NAVBAR ---- */

.topnav {
    background-color: $secondary-color;    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topnav ul li {
    display: inline;
}

.topnav ul li a {
    color: $quinary-color;
    padding: 1.5em;
    text-decoration: none;
    display: none;
}

.topnav ul li a:hover {
    background-color: $quaternary-color;
}

#menu-icon {
    float: right;
    display: block;
}

.topnav.dropped ul li a {
    display: block;
}

.topnav.dropped #menu-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.material-icons {
    font-size: 1em;
}

@media screen and (min-width: 700px) {

    #menu-icon {
        display: none;
    }

    .topnav ul li a {
        display: inline-block;
    }
}