/* ----- VARIABLES ----- */

/* Color */
$primary-color: #E5F121;
$secondary-color: #DF1980;
$tertiary-color: #383532;
$quaternary-color: #F8B30E;
$quinary-color: #f5efef;

/* Fonts */
$heading-main: 'Quicksand', sans-serif;
$heading-second: 'Oswald', sans-serif;
$paragraph: 'Questrial', sans-serif;

/* Sizes */
$heading-main-size: 4em;
$heading-second-size: 1em;
$paragraph-size: 1.3em;
$max-size: 100%;
$medium-size: 50%;